:root{
    --color-purple: #daa0fc;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #252424;
    font-family: 'Roboto', sans-serif;
}
header {
    padding: 30px;
    background: rgba(0, 0, 0, 0.15);
}

header div {
    text-align: center;
}

header div a {
    color: white;
    font-size: 24px;
    line-height: 20px;
    margin: 0 30px;
    text-decoration: none;
}

header div a:hover {
    color: var(--color-purple);
    transition: 500ms;
}

#wrapper {
    
    text-align: center;
    padding: 32px;
    color: white;
}

#wrapper img {
    width: 180px;
    border-radius: 50%;
    border: 5px solid white;
    align-items: center;
}

#wrapper h1 {
    margin-top: 20px;
    font-size: 40px;
    color: var(--color-purple);
    line-height: 32px;
}

#wrapper h2 {
    font-size: 18px;
    margin-top: 40px;
}

#wrapper p {
    margin-top: 30px;
    font-style: bold;
}

#wrapper ul {
    text-decoration: underline;
    font-size: 14px;
    margin-top: 10px;
    list-style: none;
    
}

.links {
    margin-top: 5px;
    text-align: center;
}

.links a{
    color: white;
    text-decoration: none;
    line-height: 20px;
    margin: 0 16px;
}

.links a:hover {
    color: var(--color-purple);
    transition: color 600ms;
}

#links-footer a {
    border-bottom: 1px solid var(--color-purple);

}

